image:
  repository: folioorg/mgr-applications
  tag: "3.0.2"
extraEnvVars:
  - name: FAR_MODE
    value: "true"
  - name: KONG_INTEGRATION_ENABLED
    value: "false"
  - name: OKAPI_INTEGRATION_ENABLED
    value: "false"
  - name: KC_INTEGRATION_ENABLED
    value: "false"
  - name: SECURITY_ENABLED
    value: "false"
extraJavaOpts:
  - "-Dlogging.level.root=DEBUG -Dsecure_store=AwsSsm -Dsecure_store_props=/usr/ms/aws_ss.properties"
  - "-XX:MaxRAMPercentage=75.0"
integrations:
  db:
    enabled: true
    existingSecret: "${db_secret_name}"
resources:
  limits:
    memory: 2048Mi
  requests:
    memory: 1536Mi
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
pdb:
  enabled: true
  maxUnavailable: 1
service:
  type: NodePort
ingress:
  enabled: true
  annotations:
    alb.ingress.kubernetes.io/group.name: far-ci-folio-org
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/target-group-attributes: deregistration_delay.timeout_seconds=30
    alb.ingress.kubernetes.io/healthcheck-path: /admin/health
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: '10'
    alb.ingress.kubernetes.io/healthcheck-timeout-seconds: '5'
    alb.ingress.kubernetes.io/healthcheck-healthy-threshold-count: '3'
    alb.ingress.kubernetes.io/healthcheck-unhealthy-threshold-count: '3'
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/load-balancer-attributes: idle_timeout.timeout_seconds=4000
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/success-codes: 200-399
    kubernetes.io/ingress.class: alb
  hosts:
  - host: "${domain_name}"
    paths:
    - path: /*
      pathType: ImplementationSpecific
      servicePort: 80
readinessProbe:
  httpGet:
    path: /admin/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10
livenessProbe:
  httpGet:
    path: /admin/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10